@media(min-width:700px){
    body{background: #364134;
    }
    }
    .sonserina{ 
        width: 2000px;
height: 125px;
flex-shrink: 0;
background: #000;
    }
    .cobra{
        width: 90px;
height: 100px;
flex-shrink: 0;
    }
    
    
    